## Final Project Submission

Please fill out:
* Student name: James Coquat
* Student pace: self paced
* Scheduled project review date/time: 
* Instructor name: Jeff Herman
* Blog post URL:

## Microsoft Movie Studio Analysis
### Data Sources
* Box Office Mojo
* IMDB
* Rotten Tomatoes
* TheMovieDB.org

### Synopsis
Microsoft evaluation of the movie industry to determine what types of films currently peform best at the box office and establish the basis for their own movie studio and films to create.

## Import Libraries
Import fundamental python libraries required for exploratory data analysis. 
* Numpy, Pandas, SQLite3, Seaborn, Matplotlib
* Gzip as data files within zipped folder in two formats (tsv.gz and csv.gz)

In [1]:
import gzip #library used to extract zipped file data sources
import re
import numpy as np
import pandas as pd
from pandas_profiling import ProfileReport
import sqlite3
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

## Basic Data Source Evaluation & Selection
Quick look at each data source's structure and characteristics to formulate three business questions and four supporting visualizations (course requirement), make source selections best suited to frame the film types to create in the studio.

### Box Office Mojo Data Basic Information

In [2]:
bom = pd.read_csv(r'zippedData/bom.movie_gross.csv.gz')
bom[bom.duplicated()]
print(bom.dtypes)
bom.info

title              object
studio             object
domestic_gross    float64
foreign_gross      object
year                int64
dtype: object

<bound method DataFrame.info of                                             title      studio  domestic_gross  \
0                                     Toy Story 3          BV     415000000.0
1                      Alice in Wonderland (2010)          BV     334200000.0
2     Harry Potter and the Deathly Hallows Part 1          WB     296000000.0
3                                       Inception          WB     292600000.0
4                             Shrek Forever After        P/DW     238700000.0
...                                           ...         ...             ...
3382                                    The Quake       Magn.          6200.0
3383                  Edward II (2018 re-release)          FM          4800.0
3384                                     El Pacto        Sony          2500.0
3385                                     The Swan  Synergetic          2400.0
3386                            An Actor Prepares       Grav.          1700.0

     foreign_gross  year
0        652000000  2010
1        691300000  2010
2        664300000  2010
3        535700000  2010
4        513900000  2010
...            ...   ...
3382           NaN  2018
3383           NaN  2018
3384           NaN  2018
3385           NaN  2018
3386           NaN  2018

[3387 rows x 5 columns]>

In [17]:
bomprof = ProfileReport(bom, title= 'Box Office Mojo Profile', explorative=True)
bomprof.to_widgets()
#bomprof.to_notebook_iframe()

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=18.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render widgets'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [51]:
# bom['foreign_gross'] = re.sub('[^0-9]', '', ['foreign_gross'])
# bom['foreign_gross'] = bom['foreign_gross'].astype(float)
# bom['total_gross'] = bom['domestic_gross'] + bom['foreign_gross']
# bom.head()

### The Movie DB.org Data Basic Information

In [3]:
tmdb = pd.read_csv(r'zippedData/tmdb.movies.csv.gz')
tmdb[tmdb.duplicated()]
print(tmdb.dtypes)
tmdb.info

Unnamed: 0             int64
genre_ids             object
id                     int64
original_language     object
original_title        object
popularity           float64
release_date          object
title                 object
vote_average         float64
vote_count             int64
dtype: object

<bound method DataFrame.info of        Unnamed: 0            genre_ids      id original_language  \
0               0      [12, 14, 10751]   12444                en
1               1  [14, 12, 16, 10751]   10191                en
2               2        [12, 28, 878]   10138                en
3               3      [16, 35, 10751]     862                en
4               4        [28, 878, 12]   27205                en
...           ...                  ...     ...               ...
26512       26512             [27, 18]  488143                en
26513       26513             [18, 53]  485975                en
26514       26514         [14, 28, 12]  381231                en
26515       26515      [10751, 12, 28]  366854                en
26516       26516             [53, 27]  309885                en

                                     original_title  popularity release_date  \
0      Harry Potter and the Deathly Hallows: Part 1      33.533   2010-11-19
1                          How to Train Your Dragon      28.734   2010-03-26
2                                        Iron Man 2      28.515   2010-05-07
3                                         Toy Story      28.005   1995-11-22
4                                         Inception      27.920   2010-07-16
...                                             ...         ...          ...
26512                         Laboratory Conditions       0.600   2018-10-13
26513                               _EXHIBIT_84xxx_       0.600   2018-05-01
26514                                  The Last One       0.600   2018-10-01
26515                                  Trailer Made       0.600   2018-06-22
26516                                    The Church       0.600   2018-10-05

                                              title  vote_average  vote_count
0      Harry Potter and the Deathly Hallows: Part 1           7.7       10788
1                          How to Train Your Dragon           7.7        7610
2                                        Iron Man 2           6.8       12368
3                                         Toy Story           7.9       10174
4                                         Inception           8.3       22186
...                                             ...           ...         ...
26512                         Laboratory Conditions           0.0           1
26513                               _EXHIBIT_84xxx_           0.0           1
26514                                  The Last One           0.0           1
26515                                  Trailer Made           0.0           1
26516                                    The Church           0.0           1

[26517 rows x 10 columns]>

In [16]:
tmdb.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

### Movie Budgets Data Basic Information

In [5]:
tnmb = pd.read_csv(r'zippedData/tn.movie_budgets.csv.gz')
tnmb[tnmb.duplicated()]
print(tnmb.dtypes)
tnmb.info

id                    int64
release_date         object
movie                object
production_budget    object
domestic_gross       object
worldwide_gross      object
dtype: object

<bound method DataFrame.info of       id  release_date                                        movie  \
0      1  Dec 18, 2009                                       Avatar
1      2  May 20, 2011  Pirates of the Caribbean: On Stranger Tides
2      3   Jun 7, 2019                                 Dark Phoenix
3      4   May 1, 2015                      Avengers: Age of Ultron
4      5  Dec 15, 2017            Star Wars Ep. VIII: The Last Jedi
...   ..           ...                                          ...
5777  78  Dec 31, 2018                                       Red 11
5778  79   Apr 2, 1999                                    Following
5779  80  Jul 13, 2005                Return to the Land of Wonders
5780  81  Sep 29, 2015                         A Plague So Pleasant
5781  82   Aug 5, 2005                            My Date With Drew

     production_budget domestic_gross worldwide_gross
0         $425,000,000   $760,507,625  $2,776,345,279
1         $410,600,000   $241,063,875  $1,045,663,875
2         $350,000,000    $42,762,350    $149,762,350
3         $330,600,000   $459,005,868  $1,403,013,963
4         $317,000,000   $620,181,382  $1,316,721,747
...                ...            ...             ...
5777            $7,000             $0              $0
5778            $6,000        $48,482        $240,495
5779            $5,000         $1,338          $1,338
5780            $1,400             $0              $0
5781            $1,100       $181,041        $181,041

[5782 rows x 6 columns]>

### Rotten Tomatoes Data Basic Information

In [6]:
rtmov = pd.read_csv(r'zippedData/rt.movie_info.tsv.gz', sep='\t')
rtmov[rtmov.duplicated()]
print(rtmov.dtypes)
rtmov.info

id               int64
synopsis        object
rating          object
genre           object
director        object
writer          object
theater_date    object
dvd_date        object
currency        object
box_office      object
runtime         object
studio          object
dtype: object

<bound method DataFrame.info of         id                                           synopsis rating  \
0        1  This gritty, fast-paced, and innovative police...      R
1        3  New York City, not-too-distant-future: Eric Pa...      R
2        5  Illeana Douglas delivers a superb performance ...      R
3        6  Michael Douglas runs afoul of a treacherous su...      R
4        7                                                NaN     NR
...    ...                                                ...    ...
1555  1996  Forget terrorists or hijackers -- there's a ha...      R
1556  1997  The popular Saturday Night Live sketch was exp...     PG
1557  1998  Based on a novel by Richard Powell, when the l...      G
1558  1999  The Sandlot is a coming-of-age story about a g...     PG
1559  2000  Suspended from the force, Paris cop Hubert is ...      R

                                                  genre            director  \
0                   Action and Adventure|Classics|Drama    William Friedkin
1                     Drama|Science Fiction and Fantasy    David Cronenberg
2                     Drama|Musical and Performing Arts      Allison Anders
3                            Drama|Mystery and Suspense      Barry Levinson
4                                         Drama|Romance      Rodney Bennett
...                                                 ...                 ...
1555   Action and Adventure|Horror|Mystery and Suspense                 NaN
1556                 Comedy|Science Fiction and Fantasy        Steve Barron
1557  Classics|Comedy|Drama|Musical and Performing Arts      Gordon Douglas
1558    Comedy|Drama|Kids and Family|Sports and Fitness  David Mickey Evans
1559  Action and Adventure|Art House and Internation...                 NaN

                                                writer  theater_date  \
0                                       Ernest Tidyman   Oct 9, 1971
1                         David Cronenberg|Don DeLillo  Aug 17, 2012
2                                       Allison Anders  Sep 13, 1996
3                      Paul Attanasio|Michael Crichton   Dec 9, 1994
4                                         Giles Cooper           NaN
...                                                ...           ...
1555                                               NaN  Aug 18, 2006
1556  Terry Turner|Tom Davis|Dan Aykroyd|Bonnie Turner  Jul 23, 1993
1557                                               NaN   Jan 1, 1962
1558                  David Mickey Evans|Robert Gunter   Apr 1, 1993
1559                                        Luc Besson  Sep 27, 2001

          dvd_date currency  box_office      runtime             studio
0     Sep 25, 2001      NaN         NaN  104 minutes                NaN
1      Jan 1, 2013        $     600,000  108 minutes  Entertainment One
2     Apr 18, 2000      NaN         NaN  116 minutes                NaN
3     Aug 27, 1997      NaN         NaN  128 minutes                NaN
4              NaN      NaN         NaN  200 minutes                NaN
...            ...      ...         ...          ...                ...
1555   Jan 2, 2007        $  33,886,034  106 minutes    New Line Cinema
1556  Apr 17, 2001      NaN         NaN   88 minutes  Paramount Vantage
1557  May 11, 2004      NaN         NaN  111 minutes                NaN
1558  Jan 29, 2002      NaN         NaN  101 minutes                NaN
1559  Feb 11, 2003      NaN         NaN   94 minutes  Columbia Pictures

[1560 rows x 12 columns]>

In [19]:
rtmov.head()
rtmov.tail()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
1555,1996,Forget terrorists or hijackers -- there's a ha...,R,Action and Adventure|Horror|Mystery and Suspense,NaN,NaN,"Aug 18, 2006","Jan 2, 2007",$,"33,886,034",106 minutes,New Line Cinema
1556,1997,The popular Saturday Night Live sketch was exp...,PG,Comedy|Science Fiction and Fantasy,Steve Barron,Terry Turner|Tom Davis|Dan Aykroyd|Bonnie Turner,"Jul 23, 1993","Apr 17, 2001",NaN,NaN,88 minutes,Paramount Vantage
1557,1998,"Based on a novel by Richard Powell, when the l...",G,Classics|Comedy|Drama|Musical and Performing Arts,Gordon Douglas,NaN,"Jan 1, 1962","May 11, 2004",NaN,NaN,111 minutes,NaN
1558,1999,The Sandlot is a coming-of-age story about a g...,PG,Comedy|Drama|Kids and Family|Sports and Fitness,David Mickey Evans,David Mickey Evans|Robert Gunter,"Apr 1, 1993","Jan 29, 2002",NaN,NaN,101 minutes,NaN
1559,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures

In [7]:
rtrev = pd.read_csv(r'zippedData/rt.reviews.tsv.gz', sep='\t', encoding= 'latin1')
rtrev[rtrev.duplicated()]
print(rtrev.dtypes)
rtrev.info

id             int64
review        object
rating        object
fresh         object
critic        object
top_critic     int64
publisher     object
date          object
dtype: object

<bound method DataFrame.info of          id                                             review rating   fresh  \
0         3  A distinctly gallows take on contemporary fina...    3/5   fresh
1         3  It's an allegory in search of a meaning that n...    NaN  rotten
2         3  ... life lived in a bubble in financial dealin...    NaN   fresh
3         3  Continuing along a line introduced in last yea...    NaN   fresh
4         3             ... a perverse twist on neorealism...     NaN   fresh
...     ...                                                ...    ...     ...
54427  2000  The real charm of this trifle is the deadpan c...    NaN   fresh
54428  2000                                                NaN    1/5  rotten
54429  2000                                                NaN    2/5  rotten
54430  2000                                                NaN  2.5/5  rotten
54431  2000                                                NaN    3/5   fresh

                  critic  top_critic         publisher                date
0             PJ Nabarro           0   Patrick Nabarro   November 10, 2018
1         Annalee Newitz           0           io9.com        May 23, 2018
2           Sean Axmaker           0  Stream on Demand     January 4, 2018
3          Daniel Kasman           0              MUBI   November 16, 2017
4                    NaN           0      Cinema Scope    October 12, 2017
...                  ...         ...               ...                 ...
54427      Laura Sinagra           1     Village Voice  September 24, 2002
54428  Michael Szymanski           0        Zap2it.com  September 21, 2005
54429       Emanuel Levy           0   EmanuelLevy.Com       July 17, 2005
54430   Christopher Null           0    Filmcritic.com   September 7, 2003
54431    Nicolas Lacroix           0      Showbizz.net   November 12, 2002

[54432 rows x 8 columns]>

### IMDB Data Basic Information

In [8]:
imnm = pd.read_csv(r'zippedData/imdb.name.basics.csv.gz')
imnm[imnm.duplicated()]
print(imnm.dtypes)
imnm.info

nconst                 object
primary_name           object
birth_year            float64
death_year            float64
primary_profession     object
known_for_titles       object
dtype: object

<bound method DataFrame.info of            nconst         primary_name  birth_year  death_year  \
0       nm0061671    Mary Ellen Bauder         NaN         NaN
1       nm0061865         Joseph Bauer         NaN         NaN
2       nm0062070           Bruce Baum         NaN         NaN
3       nm0062195         Axel Baumann         NaN         NaN
4       nm0062798          Pete Baxter         NaN         NaN
...           ...                  ...         ...         ...
606643  nm9990381         Susan Grobes         NaN         NaN
606644  nm9990690          Joo Yeon So         NaN         NaN
606645  nm9991320       Madeline Smith         NaN         NaN
606646  nm9991786  Michelle Modigliani         NaN         NaN
606647  nm9993380       Pegasus Envoyé         NaN         NaN

                                      primary_profession  \
0              miscellaneous,production_manager,producer
1             composer,music_department,sound_department
2                             miscellaneous,actor,writer
3       camera_department,cinematographer,art_department
4       production_designer,art_department,set_decorator
...                                                  ...
606643                                           actress
606644                                           actress
606645                                           actress
606646                                          producer
606647                             director,actor,writer

                               known_for_titles
0       tt0837562,tt2398241,tt0844471,tt0118553
1       tt0896534,tt6791238,tt0287072,tt1682940
2       tt1470654,tt0363631,tt0104030,tt0102898
3       tt0114371,tt2004304,tt1618448,tt1224387
4       tt0452644,tt0452692,tt3458030,tt2178256
...                                         ...
606643                                      NaN
606644                      tt9090932,tt8737130
606645                      tt8734436,tt9615610
606646                                      NaN
606647                                tt8743182

[606648 rows x 6 columns]>

In [9]:
imaka = pd.read_csv(r'zippedData/imdb.title.akas.csv.gz')
imaka[imaka.duplicated()]
print(imaka.dtypes)
imaka.info

title_id              object
ordering               int64
title                 object
region                object
language              object
types                 object
attributes            object
is_original_title    float64
dtype: object

<bound method DataFrame.info of          title_id  ordering                                    title region  \
0       tt0369610        10                            Джурасик свят     BG
1       tt0369610        11                        Jurashikku warudo     JP
2       tt0369610        12  Jurassic World: O Mundo dos Dinossauros     BR
3       tt0369610        13                  O Mundo dos Dinossauros     BR
4       tt0369610        14                           Jurassic World     FR
...           ...       ...                                      ...    ...
331698  tt9827784         2                       Sayonara kuchibiru    NaN
331699  tt9827784         3                            Farewell Song    XWW
331700  tt9880178         1                              La atención    NaN
331701  tt9880178         2                              La atención     ES
331702  tt9880178         3                            The Attention    XWW

       language        types   attributes  is_original_title
0            bg          NaN          NaN                0.0
1           NaN  imdbDisplay          NaN                0.0
2           NaN  imdbDisplay          NaN                0.0
3           NaN          NaN  short title                0.0
4           NaN  imdbDisplay          NaN                0.0
...         ...          ...          ...                ...
331698      NaN     original          NaN                1.0
331699       en  imdbDisplay          NaN                0.0
331700      NaN     original          NaN                1.0
331701      NaN          NaN          NaN                0.0
331702       en  imdbDisplay          NaN                0.0

[331703 rows x 8 columns]>

In [10]:
imbas = pd.read_csv(r'zippedData/imdb.title.basics.csv.gz')
imbas[imbas.duplicated()]
print(imbas.dtypes)
imbas.info

tconst              object
primary_title       object
original_title      object
start_year           int64
runtime_minutes    float64
genres              object
dtype: object

<bound method DataFrame.info of            tconst                                primary_title  \
0       tt0063540                                    Sunghursh
1       tt0066787              One Day Before the Rainy Season
2       tt0069049                   The Other Side of the Wind
3       tt0069204                              Sabse Bada Sukh
4       tt0100275                     The Wandering Soap Opera
...           ...                                          ...
146139  tt9916538                          Kuambil Lagi Hatiku
146140  tt9916622  Rodolpho Teóphilo - O Legado de um Pioneiro
146141  tt9916706                              Dankyavar Danka
146142  tt9916730                                       6 Gunn
146143  tt9916754               Chico Albuquerque - Revelações

                                     original_title  start_year  \
0                                         Sunghursh        2013
1                                   Ashad Ka Ek Din        2019
2                        The Other Side of the Wind        2018
3                                   Sabse Bada Sukh        2018
4                             La Telenovela Errante        2017
...                                             ...         ...
146139                          Kuambil Lagi Hatiku        2019
146140  Rodolpho Teóphilo - O Legado de um Pioneiro        2015
146141                              Dankyavar Danka        2013
146142                                       6 Gunn        2017
146143               Chico Albuquerque - Revelações        2013

        runtime_minutes                genres
0                 175.0    Action,Crime,Drama
1                 114.0       Biography,Drama
2                 122.0                 Drama
3                   NaN          Comedy,Drama
4                  80.0  Comedy,Drama,Fantasy
...                 ...                   ...
146139            123.0                 Drama
146140              NaN           Documentary
146141              NaN                Comedy
146142            116.0                   NaN
146143              NaN           Documentary

[146144 rows x 6 columns]>

In [11]:
imcre = pd.read_csv(r'zippedData/imdb.title.crew.csv.gz')
imcre[imcre.duplicated()]
print(imcre.dtypes)
imcre.info

tconst       object
directors    object
writers      object
dtype: object

<bound method DataFrame.info of            tconst                      directors              writers
0       tt0285252                      nm0899854            nm0899854
1       tt0438973                            NaN  nm0175726,nm1802864
2       tt0462036                      nm1940585            nm1940585
3       tt0835418                      nm0151540  nm0310087,nm0841532
4       tt0878654  nm0089502,nm2291498,nm2292011            nm0284943
...           ...                            ...                  ...
146139  tt8999974                     nm10122357           nm10122357
146140  tt9001390                      nm6711477            nm6711477
146141  tt9001494          nm10123242,nm10123248                  NaN
146142  tt9004986                      nm4993825            nm4993825
146143  tt9010172                            NaN            nm8352242

[146144 rows x 3 columns]>

In [12]:
imprin = pd.read_csv(r'zippedData/imdb.title.principals.csv.gz')
imprin[imprin.duplicated()]
print(imprin.dtypes)
imprin.info

tconst        object
ordering       int64
nconst        object
category      object
job           object
characters    object
dtype: object

<bound method DataFrame.info of             tconst  ordering      nconst  category       job  \
0        tt0111414         1   nm0246005     actor       NaN
1        tt0111414         2   nm0398271  director       NaN
2        tt0111414         3   nm3739909  producer  producer
3        tt0323808        10   nm0059247    editor       NaN
4        tt0323808         1   nm3579312   actress       NaN
...            ...       ...         ...       ...       ...
1028181  tt9692684         1   nm0186469     actor       NaN
1028182  tt9692684         2   nm4929530      self       NaN
1028183  tt9692684         3  nm10441594  director       NaN
1028184  tt9692684         4   nm6009913    writer    writer
1028185  tt9692684         5  nm10441595  producer  producer

                   characters
0                 ["The Man"]
1                         NaN
2                         NaN
3                         NaN
4            ["Beth Boothby"]
...                       ...
1028181  ["Ebenezer Scrooge"]
1028182   ["Herself","Regan"]
1028183                   NaN
1028184                   NaN
1028185                   NaN

[1028186 rows x 6 columns]>

In [15]:
imprin.head()

      tconst  ordering     nconst  category       job        characters
0  tt0111414         1  nm0246005     actor       NaN       ["The Man"]
1  tt0111414         2  nm0398271  director       NaN               NaN
2  tt0111414         3  nm3739909  producer  producer               NaN
3  tt0323808        10  nm0059247    editor       NaN               NaN
4  tt0323808         1  nm3579312   actress       NaN  ["Beth Boothby"]

In [13]:
imrat = pd.read_csv(r'zippedData/imdb.title.ratings.csv.gz')
imrat[imrat.duplicated()]
print(imrat.dtypes)
imrat.info

tconst            object
averagerating    float64
numvotes           int64
dtype: object

<bound method DataFrame.info of            tconst  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73856 rows x 3 columns]>

In [14]:
imrat.head()

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [ ]:
# Your code here - remember to use markdown cells for comments as well!